@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #fce4ec;
  color: #1a1a1a;
}

h1, h2, h3, .serif {
  font-family: 'Playfair Display', serif;
}

.neo-brutal {
  border: 4px solid #000000;
  box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);
}

.neo-btn {
  border: 4px solid #000000;
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
  transition: transform 0.1s, box-shadow 0.1s;
}

.neo-btn:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
}
